@model StudentsRegister.Entities.Student


    <div class="well">
        <h4><strong>Имена на студента: @Model.LastName, @Model.FirstName</strong></h4>
        <span class="pull-right">
            Факултетен номер: @Model.StudentID
        </span>
    </div>


